* {
  background-color: aqua;
}
.container {
  display: flex;

  padding: 1rem;
  justify-content: space-between;
}
.box1 {
  background-color: wheat;
  height: 50px;
  width: 100px;
}
.box2 {
  background-color: rosybrown;
}
.box3 {
  background-color: blue;
}
