* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
:root {
  --radius: 0.85 rem;
  --clr-Soft-blue: hsl(215, 51%, 70%);
  --clr-Cyan: hsl(178, 100%, 50%);
  --clr-blue-main: hsl(217, 54%, 11%);
  --clr-blue-card: hsl(216, 50%, 16%);
  --clr-blue-line: hsl(215, 32%, 27%);
  --clr-White: hsl(0, 0%, 100%);
}
body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  width: 100;

  padding: 1rem;
  margin-right: 45%;
}
.card {
  background-color: hsl(216, 50%, 16%);
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
h1 {
  color: var(--clr-White);
  font-weight: lighter;
}
.description {
  color: hsl(215, 51%, 70%);
}
.card-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  color: var(--clr-White);
}
.card-avatar-container {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: var(--clr-White);
}
.card-img-container {
  width: 150px;
  object-fit: contain;
  padding: 1rem;
}
