* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 2rem;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  padding: 1rem;
  margin: 8rem 2rem;
}

.boxleft {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  height: 45rem;
  padding: 12rem;
  align-items: center;
  width: 30%;
  justify-content: center;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.boxright {
  display: flex;

  border: 2px solid blue;
  height: 45rem;
  padding: 12rem;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

@media screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    margin-right: 5rem;
  }
  .boxleft {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0rem;
  }
  .boxright {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
}
