* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.parent {
  margin: 8rem auto;
  width: 30rem;
  border: 1px salmon solid;
  border-radius: 12px;
  text-align: center;
}
.child1 {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  background-color: aqua;
  margin: 1.5rem;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
}
.child2 {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  background-color: rgb(255, 0, 98);
  margin: 1.5rem;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
}
.child3 {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  background-color: rgb(0, 255, 72);
  margin: 1.5rem;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
}
.child4 {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  background-color: rgb(64, 0, 255);
  margin: 1.5rem;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
}
